<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<header id="header">
    <a href="/">

        <div id="logo" style="background-image: url(https://dn-coding-net-production-static.qbox.me/585bc338-0209-489f-8fec-c9a4e2fc3219.jpg);"></div>

        <div id="title">
            <h1>fudali</h1>
        </div>
    </a>
    <div id="nav">
        <ul>
            <li class="icon">
                <a href="#"><i class="fa fa-bars fa-2x"></i></a>
            </li>

            <li><a href="/">Home</a></li>

            <li><a href="/about/">About</a></li>

            <li><a href="/archives/">Writing</a></li>

            <li><a href="http://github.com/fudali113">Projects</a></li>

        </ul>
    </div>
</header>
</body>
</html>