
<!DOCTYPE html>
<html>   
	<head>        
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>        
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>        
	<meta name="description" content="meta&#39;s description"/>        
	<meta name="keywords" content="keyword,more keyword"/>        
	<meta name="author" content="meta&#39;s author or article&#39;s author"/>        
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<link rel="stylesheet" href="/assets/themes/default/plugin/prettify/normalize.css"/>
	<link rel="stylesheet" href="/assets/themes/default/plugin/prettify/prettify_night.css"/>
	<link rel="stylesheet" href="/assets/themes/default/main.css"/>
	<link rel="shortcut icon" href="/fav.ico"/>
	<script type="text/javascript" src="/assets/themes/default/plugin/prettify/prettify.js"></script>
	</head>
	<body onload="prettyPrint()">

<div class="top-nav">
			<ul>
			    <li><a href="/" >Index</li>
                <li><a href="/blog.html" >Blog</a></li>
                <li><a href="/archive.html" class="on-sel">Date</a></li>
                <li><a href="/classify.html">Classify</a></li>
                <li><a href="/pages/about.html" >About</a></li>
                <li><a href="/pnotelogin.html" >Pnote</a></li>
                
                <li><a href="https://github.com/Anteoy/liongo" target="_blank">github</a></li>
                
            </ul>
</div>
<div style="clear:both;" id="interval"></div>
<div class="main">
	<div class="main-inner">
        <div id="tag-index">
        
        	<h1>2017</h1>
			
				<h2>January</h2>
				
           			<p><a href="/articles/2017/1/11/%e9%9b%85%e9%9b%86.html">雅集</a></p>
           		
           			<p><a href="/articles/2017/1/5/zhoudazhuang.html">zhoudazhuang</a></p>
           		
            
       	
        	<h1>2014</h1>
			
				<h2>January</h2>
				
           			<p><a href="/articles/2014/1/20/sample.html">java构造函数以及static关键</a></p>
           		
           			<p><a href="/articles/2014/1/20/world.html">java构造函数以及static关键</a></p>
           		
            
       	
        </div>
		</div>
</div>

<div id="footer">
 	<div id="footer-inner" style="bottom: 0;position: fixed;right: 0;left: 0;">
 		<p id="copyright">Copyright (c) 2016 - 2017 owner of copyright &nbsp;
 		Powered by <a href="https://github.com/Anteoy/liongo">liongo</a>
 		</p>
 		</div>  
 	</div>
 </body>
 </html>
