
<!DOCTYPE html>
<html>   
	<head>        
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>        
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>        
	<meta name="description" content="meta&#39;s description"/>        
	<meta name="keywords" content="keyword,more keyword"/>        
	<meta name="author" content="meta&#39;s author or article&#39;s author"/>        
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<link rel="stylesheet" href="/assets/themes/default/plugin/prettify/normalize.css"/>
	<link rel="stylesheet" href="/assets/themes/default/plugin/prettify/prettify_night.css"/>
	<link rel="stylesheet" href="/assets/themes/default/main.css"/>
	<link rel="shortcut icon" href="/fav.ico"/>
	<script type="text/javascript" src="/assets/themes/default/plugin/prettify/prettify.js"></script>
	</head>
	<body onload="prettyPrint()">

<div class="top-nav">
	<ul>
	    <li><a href="/" >Index</li>
		<li><a href="/blog.html" class="on-sel">Blog</a></li>
		<li><a href="/archive.html">Date</a></li>
		<li><a href="/classify.html">Classify</a></li>
		<li><a href="/pages/about.html" >About</a></li>
		<li><a href="/pnotelogin.html" >Pnote</a></li>
		
		<li><a href="https://github.com/Anteoy/liongo" target="_blank">github</a></li>
		
	</ul>
</div>

<div style="clear:both;height:50px" id="interval"></div>
<div class="main">
	<div class="main-inner">
		<div class="article-list">
		
			<div class="article">
				<p class="title"><a href="/articles/2017/1/11/%e9%9b%85%e9%9b%86.html">雅集</a></p>
				<p class="abstract">&lt;abstract&gt;: [TOC]

#For my memory scan
##1. 右上角资源监测 避免公司低配资源占用问题
1. sudo add-apt-repository ppa:fossfreedom/indicator-sysmonitor
2. sudo apt-get update
3. sudo apt install indicator-sysmonitor
4. indicator-sysmonitor &amp;（后台启动）
5. 其余配置参考这里

2. 无法确认鼠标卡死unity原因，经不关掉相关主进程此情景暂不会重现。

##3. 0x1d 16进制 1*16^1&#43;D(13)*16^0=29 十进制
##4. 关于芝麻信用分
    1. algid parse error, not a sequence
    2. String length must be a multiple of four
    3. debug \n
    4. 综上，结合文档备注
    5. 注意：对于使用Java和.NET的开发者，将pkcs8在console中输出的私钥去除头行、尾行、回车换行和空格，作为开发者私钥，对于PHP的开发者来说，无需进行pkcs8命令行操作。
    6. 得出：不注意注意的地方，基本会出错，另外，出错了就不要想走捷径捡便宜了
    7. RSA官方建议去头尾和空格，的却可以使用，用\n换行不能使用，我看一篇CSDN中使用\r，有空事件试试看，注：win换行是\r\n，linux和mac是\n ,在Linux和win上都编译过，可能夹杂了\r\n和\n，vim打开会认为用\n换行，\r被显示位^M ,如楼上所说， Win下的换行符是\r\n，题主搞反了。^M就是就是在行尾显示的\r。之所以显示为^M是因为Linux下一般用^表示Ctrl键，而Ctrl&#43;M表示回车，你可以在命令行里试试。
    如果一个文件在Win和Linux下都被编辑过，那这个文件的换行符可能混杂了\r\n与\n，这时Vim会认为这个文件是用\n换行的，多余的\r就用^M表示出来了。如果文件的&nbsp;&nbsp;<a href="/articles/2017/1/11/%e9%9b%85%e9%9b%86.html">Read more</a></p>
				<p class="meta">Author meta&#39;s author or article&#39;s author | Posted 2017-01-11 17:39:36 | Tags 
				
				</p>
			</div> 	
		
			<div class="article">
				<p class="title"><a href="/articles/2017/1/5/zhoudazhuang.html">zhoudazhuang</a></p>
				<p class="abstract">&lt;abstract&gt;: &nbsp;&nbsp;<a href="/articles/2017/1/5/zhoudazhuang.html">Read more</a></p>
				<p class="meta">Author meta&#39;s author or article&#39;s author | Posted 2017-01-05 21:42:09 | Tags 
				
				</p>
			</div> 	
		
			<div class="article">
				<p class="title"><a href="/articles/2014/1/20/sample.html">java构造函数以及static关键</a></p>
				<p class="abstract">&lt;abstract&gt;: &nbsp;&nbsp;<a href="/articles/2014/1/20/sample.html">Read more</a></p>
				<p class="meta">Author meta&#39;s author or article&#39;s author | Posted 2014-01-20 20:12:00 | Tags 
				
				<a class="tag" href="/tag.html#golang">golang</a>
				
				<a class="tag" href="/tag.html#code">code</a>
				
				</p>
			</div> 	
		
			<div class="article">
				<p class="title"><a href="/articles/2014/1/20/world.html">java构造函数以及static关键</a></p>
				<p class="abstract">&lt;abstract&gt;: ###关于java构造器


原本无显示编码构造器，则有一个默认的隐式（隐藏的无参构造器），但是，当显示指定了构造器，则这个默认隐式的构造器将不存在，比如此时无法new无参的构造器（除非显示地编写声明无参的构造函数）。如下：



 package com.anteoy.coreJava.constructor;

/**
 * Created by zhoudazhuang
 * Date: 17-1-3
 * Time: 上午10:46
 * Description :

 */

public class TestObj {
    public TestObj(){

    }
    public TestObj(String o,String oo ,String ooo){

    }
}




package com.anteoy.coreJava.constructor;



/**

 * Created by zhoudazhuang

 * Date: 17-1-3

 * Time: 上午10:46

 * Description : public TestObj(){}没有无参构造new it则会报错

 */

public class NewObj {

    public static void main(String[] args) {

        TestObj obj = new TestObj();

    }

}




子类构造器若调用父类


如果子类构造器没有显式地调用父类的构造器，则将自动调用父类的默认（没有参数）的构造器。如果父类没有不带参数的构造器，并且在子类的构造器中又没有显式地调用父类的构造器，则j编译器将报语法错误


 package com.anteoy.coreJava.constructor;

/**
 * Created by zhoudazhuang&nbsp;&nbsp;<a href="/articles/2014/1/20/world.html">Read more</a></p>
				<p class="meta">Author meta&#39;s author or article&#39;s author | Posted 2014-01-20 20:12:00 | Tags 
				
				<a class="tag" href="/tag.html#golang">golang</a>
				
				<a class="tag" href="/tag.html#code">code</a>
				
				</p>
			</div> 	
		
		</div>
	</div>
</div>

<div id="footer">
 	<div id="footer-inner" style="bottom: 0;position: fixed;right: 0;left: 0;">
 		<p id="copyright">Copyright (c) 2016 - 2017 owner of copyright &nbsp;
 		Powered by <a href="https://github.com/Anteoy/liongo">liongo</a>
 		</p>
 		</div>  
 	</div>
 </body>
 </html>
