
<!DOCTYPE html>
<html>   
	<head>        
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>        
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>        
	<meta name="description" content="meta&#39;s description"/>        
	<meta name="keywords" content="keyword,more keyword"/>        
	<meta name="author" content="meta&#39;s author or article&#39;s author"/>        
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<link rel="stylesheet" href="/assets/themes/default/plugin/prettify/normalize.css"/>
	<link rel="stylesheet" href="/assets/themes/default/plugin/prettify/prettify_night.css"/>
	<link rel="stylesheet" href="/assets/themes/default/main.css"/>
	<link rel="shortcut icon" href="/fav.ico"/>
	<script type="text/javascript" src="/assets/themes/default/plugin/prettify/prettify.js"></script>
	</head>
	<body onload="prettyPrint()">


<div class="top-nav">
			<ul>
                <li><a href="/" >Index</li>
                <li><a href="/blog.html" >Blog</a></li>
                <li><a href="/archive.html">Date</a></li>
				<li><a href="/classify.html" class="on-sel" class="on-sel">Classify</a></li>
                <li><a href="/pages/about.html" >About</a></li>
                <li><a href="/pnotelogin.html" >Pnote</a></li>
                
            </ul>
</div>
<div style="clear:both;height:50px" id="interval"></div>
<div class="main" style="color: white;text-align:center">
	<div class="main-container loginBox" style="position: absolute;z-index: 999;width: 100%;height: 100%;">
    		<div class="loginContent">
    			<span class="firstLogin">admin or guest 账户登录</span>
    			<div style="margin-top: 30px">
    				 <input type="text" placeholder="用户名" id="username" class="loginUser loginUserbg1">
    			</div>
    			<div style="margin-top: 30px;">
    				<input type="password" placeholder="密码" id="password" class="loginUser loginUserbg2">
    			</div>
    			<div style="margin-top: 30px;">
    				<input type="checkbox"  class="loginRember" style="vertical-align: top"> <span class="loginRemberWord">记住密码</span>
    			</div>
    			<div style="margin-top: 30px;" class="loginBtn fl" id="commit"  onclick="checkLogin()">
    				登&nbsp录
    			</div>
    		</div>
    </div>
</div>
<script type="text/javascript">
	var c = document.getElementById("c");
	var ctx = c.getContext("2d");
	c.width = window.innerWidth;
	c.height = window.innerHeight;
	
	
	console.log(c.height)
	
	
	var string1 = "1203456gzg987";
	string1.split("");
	var fontsize = 20;
	columns = c.width / fontsize;
	var drop = [];
	for (var x = 0; x < columns; x++) {
		drop[x] = 0;
	}
	function drap() {
		ctx.fillStyle = "rgba(0,0,0,0.07)";
		
		ctx.fillRect(0, 0, c.width, c.height);
		ctx.fillStyle = "#0F0";
		
		ctx.font = fontsize + "px arial";
		for (var i = 0; i < drop.length; i++) {
			var text1 = string1[Math.floor(Math.random() * string1.length)];
			ctx.fillText(text1, i * fontsize, drop[i] * fontsize);
			drop[i]++;
			if (drop[i] * fontsize > c.height && Math.random() > 0.9) {
				drop[i] = 0;
			}
		}
	}
	setInterval(drap, 20);
	$(document).ready(function() {
		if ($.cookie("rmbUser") == "true") {
			$("#ck_rmbUser").prop("checked", true);
			$("#username").val($.cookie("username"));
			
			
			$("#password").val($.cookie("password"));
			
		}
		$("input").keydown(function() {
			if (event.keyCode == 13) {
				checkLogin();
			}
		})
	});
	function check() {
		var username = $("#username").val();
		var password = $("#password").val();
		if (username == "" || username == "请输入用户名") {
			alert("请输入用户名!");
			$("#username").focus();
			return false;
		}
		if (password == "" || password == "请输入密码") {
			alert("请输入密码!");
			$("#password").focus();
			return false;
		}
		$("#tip").text("");
		return true;
	}
	function checkLogin() {
		
		var username = $("#username").val();
		var password = $("#password").val();
		window.location="login?id="+username+"&passwd="+password;
		

	}
	function reset(){
	$("#username").val("");
	$("#password").val("");
	}
</script>
<script type="text/javascript" src="/assets/themes/default/jquery.js"></script>
<script type="text/javascript" src="/assets/themes/default/common.js"></script>

<div id="footer">
 	<div id="footer-inner" style="bottom: 0;position: fixed;right: 0;left: 0;">
 		<p id="copyright">Copyright (c) 2016 - 2017 owner of copyright &nbsp;
 		Powered by <a href="https://github.com/Anteoy/liongo">liongo</a>
 		</p>
 		</div>  
 	</div>
 </body>
 </html>
